@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"> @User.Identity.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="btn btn-danger"><i class="bi bi-person-dash"></i>Çıkış</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a style="margin-right:0.5rem" class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register"><i class="bi bi-person-circle"></i> Kayıt ol </a>
    </li>
    <li class="nav-item">
        <a class="btn btn-success" asp-area="Identity" asp-page="/Account/Login"><i class="bi bi-box-arrow-in-right"></i> Giriş </a>
    </li>
}
</ul>
